@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $smDesktopWidth) {
    @content;
  }
}

@mixin does-parent-exist($color) {
  @if & {
    /* Применение голубого цвета родительскому элементу, если он существует */
    &:hover {
      color: $color;
    }
  } @else {
    /* Родительский элемент отсутствует, применение голубого цвета к ссылкам */
    a {
      color: $color;
    }
  }
}